body {
    background-image: url("../assets/pokemon-bg.jpg");
  }


  .flex {
   background: whitesmoke;
   width: 100vh;
   align-items: center;
   justify-content: center;
   border-radius: 40px;
   -webkit-box-shadow: 5px 11px 23px 12px rgba(0,0,0,0.71); 
   box-shadow: 5px 11px 23px 12px rgba(0,0,0,0.71);
   padding: 15px;
  }


 .flex-pic {
   display: block;
   border-radius: 100%;
   width: 150px;
   height: 150px;
   margin-left: auto;
   margin-right: auto;
 }

 .flex-title {
   padding: 5px;
   width: 200px;
   height: 150px;
   margin-top: 10px;
   line-height: 150px;
   color: black;
   font-weight: bold;
   font-size: 3em;
   text-align: center;
 }


 .flex-description {
 padding: 5px;
 width: 200px;
 height: 150px;
 margin-top: 10px;
 line-height: 150px;
 color: black;
 font-weight: thin;
 font-size: 1em;
 text-align: center;

 }
/* 
 flex-wrap: nowrap;
 align-items: center;
 
 column-gap: 20px;
 order: 3; */
