body {
    background-color: rgb(46, 39, 104);
  }

  .image{
    display: block;
    width: 25%;
    border-radius: 4%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 25px;
    margin-bottom: 25px;
   }

 .title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    
  }
 .description {

    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
 }